<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Список матчей</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div>
            <li>
                {% for match in invitations %}
                <div>
                     <a href="/matches/{{match._id}}">{{match.from}}</a>
                </div>

                {% endfor %}

            </li>
            <a href="/" class="btn btn-success">На главную</a>
        </div>
    </body>
</html>