<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Матч</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="well">
                      Bootstrap uses Autoprefixer to deal with CSS vendor prefixes.
                      If you're compiling Bootstrap from its Less/Sass source and not using our Gruntfile,
                      you'll need to integrate Autoprefixer into your build process yourself.
                      If you're using precompiled Bootstrap or using our Gruntfile,
                      you don't need to worry about this because Autoprefixer is already integrated into our Gruntfile.
                    </div>
                    <div class="button-group">
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 1
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 2
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 3
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 4
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
              <div class="container">
                  <div class="well">
                      The Carousel plugin is a component for cycling through elements, like a carousel (slideshow).
                      For a tutorial about Carousels, read our Bootstrap Carousel Tutorial.
                  </div>
                  <div class="button-group">
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 1
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 2
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 3
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 4
                        </a>
                  </div>
              </div>
            </div>

            <div class="item">
              <div class="container">
                  <div class="well">
                      Question 3
                  </div>
                  <div class="button-group">
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 1
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 2
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 3
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 4
                        </a>
                  </div>
              </div>
            </div>

            <div class="item">
              <div class="container">
                  <div class="well">
                      Question 4
                  </div>
                  <div class="button-group">
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 1
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 2
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 3
                        </a>
                        <a class="btn btn-primary" href="#myCarousel" role="button" data-slide="next">
                            Ответ 4
                        </a>
                  </div>
              </div>
            </div>
          </div>
        </div>

    </body>
</html>