<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Матч</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
            var cur_answers = [];
            var add_answer = function(ans) {
                cur_answers = cur_answers.concat(ans);
                $('#answers').val(cur_answers.join());
                $("#myCarousel").carousel("next");
            };
        </script>
        <style> body{font-family: Century Gothic;
            background: url(http://www.pendulumarts.com/images/5music.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }
            h1{background-color: rgba(0, 0, 0, 0.7); font-size:400%; color: #E6F0FF; margin: 5% 10%;}
        </style>
    </head>
    <body>
        <h1>В чьей песне есть эта строчка?</h1>
        {% if match.status == 'open' and cur_user not in match.results %}
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for question in match.questions %}
                        <div class="item{% if loop.index == 1%} active{% endif %}">
                            <div class="container">
                                <div style ="background-color: rgba(0, 0, 0, 0.9); font-size:200%; color: white;" class="well">{{question.question}}</div>
                                <div class="button-group">
                                    <button style="background-color: rgba(0, 0, 0, 0.9); font-size:120%; color: white;"  class="btn btn-default" onclick="add_answer('a');">
                                        {{question.answers.a}}
                                    </button>
                                    <button style="background-color: rgba(0, 0, 0, 0.9); font-size:120%; color: white;"  class="btn btn-default" onclick="add_answer('b');">
                                        {{question.answers.b}}
                                    </button>
                                    <button style="background-color: rgba(0, 0, 0, 0.9); font-size:120%; color: white;"  class="btn btn-default" onclick="add_answer('c');">
                                        {{question.answers.c}}
                                    </button>
                                    <button style="background-color: rgba(0, 0, 0, 0.9); font-size:120%; color: white;"  class="btn btn-default" onclick="add_answer('d');">
                                        {{question.answers.d}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                        <div style="margin: 1% 15%;" class="item">
                            <!-- Submit results -->
                            <form role="form" action="/matches/{{match._id}}" method="post">
                                <input type="hidden" name="answers" id="answers" value="">
                                <button style=" background-color: rgba(0, 0, 0, 0.7); font-size: 250%; color: white;" class="btn btn-large btn-block btn-default" type="submit" >Закончить</button>
                            </form>
                        </div>
                </div>
            </div>
        {% elif match.status == 'closed' %}
            <div class="container">
                {% for user_id, result in match.results.items() %}
                    <p style=" background-color: rgba(0, 0, 0, 0.7); font-size: 120%; color: white;">{{players[user_id]['full_name']}}: {{result.score}}</p>
                    <br>

                {% endfor %}
                <br>
                <a style="background-color: rgba(0, 0, 0, 0.7); font-size:120%; color: white;" href="/" class="btn btn-default ">На главную</a>
            </div>
        {% else %}
            <div  class="container">
                <p style=" background-color: rgba(0, 0, 0, 0.7); font-size: 250%; color: white;">Ждём оппонента</p>
                <br>
                <a style="background-color: rgba(0, 0, 0, 0.7); font-size:120%; color: white;" href="/" class="btn btn-default ">На главную</a>
            </div>
        {% endif %}
    </body>
</html>