<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Матч</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
            var cur_answers = [];
            var add_answer = function(ans) {
                cur_answers = cur_answers.concat(ans);
                $('#answers').val(cur_answers.join());
                $("#myCarousel").carousel("next");
            };
        </script>
    </head>
    <body>
        {% if match.status == 'open'%}
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for question in match.questions %}
                        <div class="item{% if loop.index == 1%} active{% endif %}">
                            <div class="container">
                                <div class="well">{{question.question}}</div>
                                <div class="button-group">
                                    <button class="btn btn-primary" onclick="add_answer('a');">
                                        {{question.answers.a}}
                                    </button>
                                    <button class="btn btn-primary" onclick="add_answer('b');">
                                        {{question.answers.b}}
                                    </button>
                                    <button class="btn btn-primary" onclick="add_answer('c');">
                                        {{question.answers.c}}
                                    </button>
                                    <button class="btn btn-primary" onclick="add_answer('d');">
                                        {{question.answers.d}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                        <div class="item">
                            <!-- Submit results -->
                            <form role="form" action="/matches/{{match._id}}" method="post">
                                <input type="hidden" name="abswers" id="answers" value="">
                                <button type="submit" >Закончить</button>
                            </form>
                        </div>
                </div>
            </div>
        {% elif match.status == 'closed' %}
            <div class="container">
                Статистика
            </div>
        {% else %}
            <div class="container">
                Ждём оппонента
            </div>
        {% endif %}
    </body>
</html>