<html>

  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
  </head>

  <body>
    <h3>
      Список пользователей
    </h3>
    <ul class="list-group">
    </ul>
    <div class="page-header">
    </div>
    <div class="container">
      <li class="list-group-item">
        Маруся
        <button type="submit" class="btn btn-default">
          Сразиться!
        </button>
      </li>
      <li class="list-group-item">
        Витя
        <button type="submit" class="btn btn-default">
          Сразиться!
        </button>
      </li>
      <li class="list-group-item">
        Вадим
        <button type="submit" class="btn btn-default">
          Сразиться!
        </button>
      </li>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    >
    </script>
  </body>

</html>
